/* Global Styles */
body {
  background-color: #232323;
}

h1 {
  color: #ffffff;
}

/* Header Styles */

/* Colour Styles */
#container {
  margin: 0 auto;
  max-width: 45%;
}

.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

/* Settings Stripe Styles */
#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: #000000;
}

.selected {
  background-color: blue;
}
